[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/nigels-com/glew.git
[submodule "includes/stb"]
	path = includes/stb
	url = https://github.com/nothings/stb.git
[submodule "src/muxer"]
	path = src/muxer
	url = https://github.com/simonbt6/muxer-lib
[submodule "src/rtmp"]
	path = src/rtmp
	url = https://github.com/simonbt6/rtmp-lib
